body {
  background: #f2f2f2;
  overflow: auto;
  scrollbar-width: none;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b30000;
  background-image:
    radial-gradient(circle at center, transparent 0 40%, black 41% 42%, transparent 43%),
    repeating-linear-gradient(0deg, black 0 2px, transparent 2px 40px),
    repeating-linear-gradient(90deg, black 0 2px, transparent 2px 40px),
    repeating-linear-gradient(45deg, black 0 1px, transparent 1px 60px),
    repeating-linear-gradient(-45deg, black 0 1px, transparent 1px 60px);
}

h1 {
  text-align: center;
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.gallery img:hover {
  transform: scale(1.03);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}